<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="jocuri video, achizitii jocuri, jocuri online, gaming, console, PC, fun">
        <meta name="description" content="Descoperă cele mai noi jocuri video pe site-ul nostru. Oferim o gamă variată de jocuri pentru toate consolele și PC-uri.">
        
        <title>GameZone: Îmbogățește-ți Colecția de Jocuri</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css"


    </head>
    <body>
        
    <%- include("../fragmente/meniu.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>